In [1]:
a = 5,6,7
print(a[1:])

(6, 7)

In [3]:
a

(5, 6, 7)

In [2]:
type(a)

tuple

In [70]:
print(type(a[1:]))

<class 'tuple'>

works same as lists but they are immutable.

In [71]:
a[:]

(5, 6, 7)

In [72]:
a[::-1]

(7, 6, 5)

In [73]:
a = 5,6,7
print(a)

(5, 6, 7)

In [74]:
# can be checked with bool
5 in a

True

In [75]:
10 in a

False

In [76]:
b = 1,2,3

In [77]:
#concatiantion can be done
c= a + b

In [78]:
c

(5, 6, 7, 1, 2, 3)

In [79]:
#can be put together
d = (a,b)
d

((5, 6, 7), (1, 2, 3))

In [80]:
#repeataion
e = a * 4
e

(5, 6, 7, 5, 6, 7, 5, 6, 7, 5, 6, 7)

In [81]:
min(e)

5

In [82]:
max(e)

7

In [83]:
#list to tuple
l = [1,2,3,4]
j = tuple(l)

In [84]:
print(type(j))

<class 'tuple'>

In [4]:
a = ('ab',"abc",'cd')
print(min(a))

ab

In [2]:
a = ('abz','abba','abc')
print(min(a))

abba

In [87]:
# variable length input
def sum(a,b,c=0,d=0):
    return a+b+c+d
sum(2,3,5,10)

20

In [88]:
# variable length input
def sum2(a,b, *more):
    print(a)
    print(b)
    ans = a + b
    for i in more:
        ans = ans + i
    return ans

In [89]:
sum2(1,2,3,4,5)

1
2

15

In [90]:
def sum_diff(a,b):
    return a+b, a-b, a*b

sum_diff(4,2)

(6, 2, 8)

In [91]:
e,f,g = sum_diff(4,2)
print(e)
print(f)
print(g)

6
2
8

# Dictionaries

In [12]:
d = {1:2, 'abc':5, 'def':7}
d['def']

7

In [93]:
a = {'the':1, 'is':5, 100:'are'}

In [94]:
print(type(a))

<class 'dict'>

In [95]:
b = a.copy()

In [96]:
b

{'the': 1, 'is': 5, 100: 'are'}

In [7]:
c = dict([('the',1), ('is',5), (100,'are'), ('list',[1,2])])

In [8]:
c

{'the': 1, 'is': 5, 100: 'are', 'list': [1, 2]}

In [99]:
d = dict.fromkeys(['abc', 32, 4], 10)

In [100]:
d

{'abc': 10, 32: 10, 4: 10}

#dicts are mutable we can add key and remove key etc

In [101]:
a['the']

1

In [102]:
a[100]

'are'

In [9]:
c['list']

[1, 2]

In [10]:
c.get('list')

[1, 2]

Get will return value associated with the key incase if it is present, otherwise the secomd agrument is returned

In [11]:
print(c.get('s'))

None

In [12]:
c.keys()

dict_keys(['the', 'is', 100, 'list'])

In [13]:
c.values()

dict_values([1, 5, 'are', [1, 2]])

In [14]:
c.items()

dict_items([('the', 1), ('is', 5), (100, 'are'), ('list', [1, 2])])

In [15]:
for i in c:
    print(i)

the
is
100
list

In [16]:
for i in c:
    print(i, c[i])

the 1
is 5
100 are
list [1, 2]

In [17]:
for i in c.values():
    print(i)

1
5
are
[1, 2]

In [18]:
# Very important to know whether the key exist in the dict 
'list' in c

True

In [19]:
100 in c

True

In [20]:
d = {1:2, 'abc':5, 'def':7}
print(d.get(0,5))

5

In [21]:
c

{'the': 1, 'is': 5, 100: 'are', 'list': [1, 2]}

In [22]:
print(c.get(0,50))

50

In [117]:
c['t'] = (1,2,3)

In [118]:
c

{'the': 1, 'is': 5, 100: 'are', 'list': [1, 2], 't': (1, 2, 3)}

In [119]:
c['g'] = {1, 55}

In [120]:
c

{'the': 1, 'is': 5, 100: 'are', 'list': [1, 2], 't': (1, 2, 3), 'g': {1, 55}}

In [121]:
c['the'] = 2

In [122]:
c

{'the': 2, 'is': 5, 100: 'are', 'list': [1, 2], 't': (1, 2, 3), 'g': {1, 55}}

In [123]:
b = {3: 5, 'the': 1}

In [128]:
# we can update b in a 
c.update(b)

In [130]:
c

{'the': 1,
 'is': 5,
 100: 'are',
 'list': [1, 2],
 't': (1, 2, 3),
 'g': {1, 55},
 3: 5}

In [133]:
c.pop('t')

(1, 2, 3)

In [134]:
c

{'the': 1, 'is': 5, 100: 'are', 'list': [1, 2], 'g': {1, 55}, 3: 5}

In [137]:
del c['the']

In [138]:
c

{'is': 5, 100: 'are', 'list': [1, 2], 'g': {1, 55}, 3: 5}

In [140]:
c.clear()

In [141]:
c

{}

In [142]:
del c

In [143]:
c

NameError: name 'c' is not defined

In [145]:
a = {1:2,'list':[1,2],3:5}
b = {4:5,3:7}
a.update(b)
print(a[3])

7

In [146]:
a

{1: 2, 'list': [1, 2], 3: 7, 4: 5}

In [149]:
a[1]

2

# print all words with freq k

In [24]:
s = 'this is a word string having many many word'
k = 2

In [25]:
words = s.split()

In [26]:
words

['this', 'is', 'a', 'word', 'string', 'having', 'many', 'many', 'word']

In [28]:
d = {}
for w in words:
    if w in d:
        d[w] = d[w] + 1
    else:
        d[w] = 1
d

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [39]:
d = {}
for w in words:
    d[w] = d.get(w, 0) + 1
d

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [40]:
def print_n_frequency(s, k):
    words = s.split()
    d = {}
    for w in words:
        if w in d:
            d[w] = d[w] + 1
        else:
            d[w] = 1
    for w in d:
        if d[w] == k:
            print(w)

In [41]:
print_n_frequency(s, k)

word
many

In [29]:
a = 'this is very is is very wrong wrong wrong'
b = 2

In [30]:
def print_n_frequency(a,b):
    d = {}
    words = a.split()
    for w in words:
        if w in d:
            d[w] = d[w] + 1
        else:
            d[w] = 1
    for w in d:
        if d[w] >= b:
            print(w, d[w])

In [31]:
print_n_frequency(a,b)

is 3
very 2
wrong 3

In [ ]:
def print_n_frequency(a,b):
    d = {}
    words = a.split()
    for w in words:
        if w in d:
            d[w] = d[w] + 1
        else:
            d[w] = 1
    for w in d:
        if d[w] == b:
            print(w)

In [8]:
def maxFreq(l):
    max = 0     #0
    res = l[0]  #12
    for i in l:
        freq = l.count(i)
        if freq > max:
            max = freq
            res = i
    print(res)

# Main
n=int(input())
l=list(int(i) for i in input().strip().split(' '))
maxFreq(l)

1
12 22 22 1 55
22

In [120]:
def maxFreq(l):
    
    d={}
    n=len(l)
    for w in l:
        d[w]=d.get(w,0)+1
    
    
    max = 0
    res = l[0]
    for i in l:
        freq = d[i]
        if freq > max:
            max = freq
            res = i
    print(res)

# Main
n=int(input())
l=list(int(i) for i in input().strip().split(' '))
maxFreq(l)

5
11 22 11 22 55
11

In [3]:
l = [1, 2, 1, 7]

In [4]:
for i in l:
    fre = l.count(i)
    print(fre)

2
1
2
1

# sets

In [42]:
v = {'abc', '123', 'var'}

In [43]:
v

{'123', 'abc', 'var'}

In [45]:
type(v)

set

In [46]:
v[0]

TypeError: 'set' object is not subscriptable

In [48]:
'abc' in v

True

In [49]:
'var' in v

True

In [51]:
for i in v:
    print(i)

abc
var
123

In [52]:
len(v)

3

In [53]:
v.add('chi')

In [54]:
v

{'123', 'abc', 'chi', 'var'}

In [55]:
b = {'bat', 'ghi'}

In [57]:
v.update(b)

In [58]:
v

{'123', 'abc', 'bat', 'chi', 'ghi', 'var'}

In [59]:
v.remove('bat')

In [60]:
v

{'123', 'abc', 'chi', 'ghi', 'var'}

In [61]:
v.remove('at')

KeyError: 'at'

In [63]:
v.discard('123')

In [64]:
v

{'abc', 'chi', 'ghi', 'var'}

In [65]:
v.discard('1v3')

In [66]:
v

{'abc', 'chi', 'ghi', 'var'}

In [69]:
# we can predict which element will be removed
v.pop()

'chi'

In [70]:
v

{'ghi', 'var'}

In [87]:
# set functions 
p = {1,2,3,4}
q = {3,4,5,6}

In [72]:
p.intersection(q)

{3, 4}

In [73]:
p.union(q)

{1, 2, 3, 4, 5, 6}

In [74]:
p.difference(q)

{1, 2}

In [75]:
q.difference(p)

{5, 6}

In [78]:
p.symmetric_difference(q) # union - intersection

{1, 2, 5, 6}

In [79]:
p.intersection_update(q)

In [80]:
p

{3, 4}

In [82]:
p.difference_update(q)

In [83]:
p

{1, 2}

In [85]:
p.symmetric_difference_update(q)

In [86]:
p

{1, 2, 5, 6}

In [88]:
p.union_update(q)

AttributeError: 'set' object has no attribute 'union_update'

In [90]:
p

{1, 2, 3, 4}

In [91]:
q

{3, 4, 5, 6}

In [92]:
p.issubset(q)

False

In [93]:
c = {3,4}

In [96]:
p.issubset(c)

False

In [97]:
c.issubset(p)

True

In [99]:
p.issuperset(c)

True

In [101]:
d = {7,8}

In [102]:
p.isdisjoint(q) #not common

False

In [103]:
p.isdisjoint(d)

True

In [106]:
s = {1,2,3,5,4,2,3,1}
print(len(s),end= ' ')
s.add(4)
s.add(3)
print(len(s))

5 5

In [109]:
print(len(p), end= ' ' )

4

In [110]:
p.add(5)

In [111]:
p

{1, 2, 3, 4, 5}

In [114]:
p.add('1')

In [115]:
p

{1, '1', 2, 3, 4, 5}

In [116]:
p.discard('1')

In [117]:
p

{1, 2, 3, 4, 5}

In [118]:
g = {1,2,1,2,3}

In [119]:
g

{1, 2, 3}

In [123]:
# sum unique
s = set()

In [124]:
type(s)

set

In [129]:
def sum_unique(l):
    s = set()
    for i in l:
        s.add(i)
    sum = 0
    for i in s:
        sum = sum + i
    return sum

In [130]:
sum_unique([1,2,3,4])

10

In [132]:
n = {}
n.add(4)
n.add(4)
print(len(n))

AttributeError: 'dict' object has no attribute 'add'

In [133]:
type(n)

dict

In [3]:
def duplicateCount(arr):
    s = set()
    for i in arr:
        if i in s:
            return s.count(i)
        else:
            s.add(i)
    pass

# Main
n=int(input())
arr=list(int(i) for i in input().strip().split(' '))
duplicateCount(arr)

5
1 2 4 5 1

AttributeError: 'set' object has no attribute 'count'

In [217]:
def dup(l):
    d = {}
    count = 0
    s = set()
    for ele in l:
        if ele in d:
            count = count + 1
        else:
            d[ele] = 1
    return count

In [218]:
dup([5, 1, 1, 2, 2, 3, 3])

3

In [191]:
y = [1, 2, 1, 2, 5, 8, 8]

In [8]:
#Find number of elements to be removed to make an array of all distinct elements
def printDistinct(arr): 
    d={}
    count=0
    for ele in arr:
        if ele in d:
            count=count+1
        else:
            d[ele]= 1
    return count
      
n=int(input())
l=list(int(i) for i in input().split(' ')) 
print(printDistinct(l))

5
1 2 5 1 5
2

In [1]:
string = 'aBhjkh'

In [3]:
def nonRepeatingChar(string):
    
    d = {}
    for ele in string:
        if ele in d:
            d[ele]+=1
        else:
            d[ele] = 1
    
    for char in string:
        if d[char]==1:
            return char

# Main
string = input()
print(nonRepeatingChar(string))

jshdlasddjds
h

In [2]:
from collections import Counter
def maxDistance(arr, n): 
    mp = {} 
    maxDict = 0
    for i in range(n): 

        if arr[i] not in mp.keys(): 
            mp[arr[i]] = i 

        else: 
            maxDict = max(maxDict, i-mp[arr[i]]) 

    return maxDict 
n=int(input())
arr=[int(i) for i in input().strip().split(' ')]
n = len(arr) 
print(maxDistance(arr, n))

9
1 3 1 4 5 6 4 8 3
7

In [31]:
# Repeating names
def freq(l):
    d = {}
    for i in l:
        d[i] = d.get(i,0) + 1
    return d

def differentNames(l):
    c = freq(l)
    ans = {}
    for name in c:
        if c[name] != 1:
            ans[name] = c[name]
    return ans
    
             

# Main
names=input().strip().split()
m=differentNames(names)
if m:
    for name in m:
        print(name, m[name])
else:
    print(-1)

bag mag jag bag jag
bag 2
jag 2

In [5]:
# even count numbers
def evenCount(l):
    d={}
    for i in l:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
    for i in l:
        if d[i]%2==0:
            return i
    pass

# Main
n=int(input())
arr=list(int(i) for i in input().strip().split(' '))
print(evenCount(arr))

6
1 2 3 3 3 4
None

In [ ]:
#You are given n triangles. You are required to find how many triangles are unique out of given triangles. For each triangle you are given three integers a, b and c (the sides of a triangle).
#A triangle is said to be unique if there is no other triangle with same set of sides.You are given n triangles. You are required to find how many triangles are unique out of given triangles. For each triangle you are given three integers a, b and c (the sides of a triangle).
#A triangle is said to be unique if there is no other triangle with same set of sides.
# in : 5
#7 6 5
#5 7 6
#8 2 9
#2 3 4
#2 4 3
#out:1
n=int(input())
tridict={}
cnt=0
for i in range(n):
    tri=[int(i) for i in input().split()]
    tri.sort()
    tri=tuple(tri)
    if tri in tridict:
        tridict[tri]+=1
    else:
        tridict[tri]=1

for x in tridict:
    if(tridict[x]==1):
        cnt+=1
print(cnt)

In [10]:
def printPairdiff(l,k):
    if k < 0:
        k *= -1
    m = {}
    
    for i in l:
        if i+k in m:
            for j in range(m[i+k]):
                print(i,i+k)
        if k!=0 and i-k in m:
            for j in range(m[i-k]):
                print(i-k,i)
            
        if i in m:
            m[i] += 1
        else:
            m[i] = 1

n = int(input())
l = [int(i) for i in input().strip().split(' ')]
k = int(input())
printPairdiff(l,k)

4
5 1 2 4
3
2 5
1 4